/* Header Start */

header {
  background: linear-gradient(#0000ff8c, #0000ff), url(../img/patrick-tomasso-zm8UMBwvqHs-unsplash.jpg),
    no-repeat center;
  background-size: cover;
  height: 900px;
}

.logo {
  float: left;
  margin-top: 90px;
}

nav.header-menu {
  float: right;
  margin-top: 90px;
}

nav.header-menu ul li {
  display: inline-block;
  margin-left: 50px;
  border-bottom: 1px solid #fff transparent;
  transition: all 300ms ease;
}

nav.header-menu ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav.header-menu ul li:hover {
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.header-text {
  margin-top: 360px;
  display: block;
}

.header-text h1 {
  font-size: 72px;
  color: #fff;
  text-align: center;
}

.header-text span {
  font-weight: 100;
}

.header-text p {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

/* Author */

.author-content {
  margin: -120px;
  margin-bottom: 120px;
}

.author-image {
  width: 222px;
  height: 222px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 20px #0000ff42;
}

.author-image img {
  width: 100%;
  height: auto;
}

.author-text p {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}

.author-text p span {
  display: block;
  color: #000;
  font-weight: 600;
}

.author-social-media {
  text-align: center;
  margin-top: 40px;
}

.author-social-media ul li {
  display: inline-block;
  margin-right: 30px;
}

.author-social-media ul li a {
  font-size: 24px;
  color: #000;
}

.author-social-media ul li a:hover {
  color: #0000ff;
}

.author-social-media ul li:last-child {
  margin-right: 0;
}

/* Blcg */

#blog {
  background-color: #f9f9f9;
  padding: 10 0px 0px;
}

.blog-list-content {
  background-color: #fff;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.blog-list-content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blog-list-info {
  padding: 30px 0 0 30px;
}

.blog-list-info ul li {
  display: inline-block;

  margin-right: 10px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  color: #434343;
}
.blog-list-info ul li a {
  color: #434343;
}

.blog-list-info ul li a:hover {
  color: #000;
  font-weight: 400;
}

.blog-list-info ul li:first-child {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30px;
}

.blog-list-info ul li:first-child image {
  width: 100%;
  height: auto;
  background-position: center;
}

.blog-list-text h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-list-text p {
  color: #434343;
  font-size: 16px;
  line-height: 30px;
}
.blog-list-text {
  padding: 0 0 30px 30px;
}

.blog-list-bottom {
  padding: 30px 30px;
}

.blog-list-bottom > a {
  float: left;
  margin-right: 30px;
}

.blog-list-bottom ul li {
  display: inline;
  margin-right: 20px;
  margin-top: 10px;
}

.blog-list-bottom ul {
  padding-top: 10px;
}

.blog-list-bottom ul li a {
  display: inline-block;
  font-size: 18px;
  color: #7d7d7d;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #0000ff;
  color: #0000ff;
  display: inline-block;
  padding: 10px 15px;
}

.pagination ul li {
  display: inline-block;
  margin-right: 20px;
}

.pagination ul li a {
  color: #000;
  display: block;
  width: 36px;
  height: 36px;
  transition: all 0.3s ease;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
}

.pagination ul li a:hover {
  background-color: #0000ff;
  color: #fff;
}

/* Sidebar */

.search {
  position: relative;
}

.search-input {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  padding: 0 70px 0 20px;
  color: #000;
}

.search-submit {
  background-color: #0000ff;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
}

/* Recent Post */

.recent-post,
.tags {
  background-color: #fff;
  border: 1px solid #eee;
  margin: 30px 0;
}

.sidebar-title {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.recent-post-content {
  padding: 0 30px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}

.recent-post-content img {
  margin-bottom: 10px;
}

.recent-post-content:hover {
  box-shadow: 0 0 3px #000;
  border-radius: 5px;
}

/* Tags */

ul.tags-item ul li {
  display: inline-block;
}

ul.tags-item ul li a {
  padding: 13px;
  border: 1px solid #eee;
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
}

tags-item ul li a :hover {
  background-color: #0000ff;
  color: #fff;
}

/* Footer */

footer {
  background-color: #313131;
  color: #959595;
  text-align: center;
  padding: 30px ;


}
